@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
html{
	font-family: 'Open Sans', sans-serif;
}

.gradientInput {
	@apply text-white bg-transparent border-white border-2 rounded-full text-center block mx-auto p-2
}
.equipmentInput{
	@apply px-4 py-2 mx-auto m-1 border border-gray-400 rounded mx-auto text-center
}
.removeEquipmentButton{
	color: #EF424C;
	background-color: transparent;
	font-family: 'Fredoka One', cursive;
	font-weight: 300;
	@apply mx-auto block py-2 px-4 rounded text-xl
}
.submitButton{
	background-color: #28BFDB;
	@apply mx-auto block py-2 px-4 rounded text-white
}
.addEquipmentButton{
	background-color: #9C27B0;
	@apply block mx-auto px-4 py-2 rounded font-bold text-white
}
.customerInformationInput{
	@apply border-b-2 border-blue-500
}
.card{
	font-family: 'Open Sans', sans-serif;
	@apply bg-white shadow-md w-2/3 mx-auto p-2
}
.cardHeader{
	font-family: 'Open Sans', sans-serif;
	@apply text-left text-black p-4 bg-gray-300 w-full
}
.cardHeaderTitle{
	@apply text-2xl font-bold
}
.cardHeaderSubtitle{
	@apply font-bold text-gray-600
}
